
.App {
  text-align: center;
}

.container {
  width: 100% !important;
  position: relative;
}


.header{
  display: block;
  height: 74px;
  background-color: #fff;
  box-shadow: 0 -8px 9px 4px #000;
  z-index: 3;
  position: relative;
  width: 100%;
}



.heading{
  font-size: 2rem;
  margin-bottom: 2rem;
}

.form-group{
  display: flex;
  margin-bottom: 1rem;
}

.form-group label{
  flex: 1;
  font-weight: bold;
  margin-right: 1rem;  
}

.form-group input{
  flex: 3;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid #ccc;
 
}
.left-section input {
  width: 130px;
}
.lable-text {
  text-align: left;
}


.btn{
  padding: .5rem 1rem;
  border-radius: 5px;
  background-color:  #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  /* margin-right: 1rem; */
}

.btn:hover{
  background-color: #2980b9;
}

.btn.edit{
  margin-right: 1rem;
}
table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

th,td{
  padding: 0.5rem;
  text-align: left;
  /* border: 1px solid #ccc; */
}

th,td{
  /* background-color: #eee; */
  font-weight: bold;
}

td{
  vertical-align: middle;
}

td:last-child{
  text-align: center;
}

thead {
  background-color: var(--table-color);
}

.flex{
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
}

.sideBar{
  width: 20%;
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 5px;
  
}

.main{
  width: 75%;
  padding: 1rem;
  border-radius: 5px;
  background-color: #f4f4f4;
  text-align: left;
}

.sideBar1,.sideBar2{
  display: flex;
  margin: 5%;
}

.left-section {
  border-right: 1px solid gray;
}
body {
  overflow-x: hidden;
}
.content-wrapper label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.color-box {
  display: flex;
  align-items: center;
}
.left-section {
  height: 100%;
  padding-right: 20px;
  padding-top: 50px;
}
.sidebar-title {
  color: #0081c6;
  border-bottom: 2px solid;
  margin-bottom: 30px;
}
.apply-color {
  background-color: transparent;
  color: #0081c6;
  border: 1px solid #0081c6;
  border-radius: 41px;
  font-size: 15px;
  line-height: 30px;
  padding: 10px 30px;
  &:hover {
    background-color: #0081c6;
    color: #fff;
  }
}
.max-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
.cmp-title {
  text-align: left;
  margin-bottom: 25px;
  margin-top: 20px;
  
}
.button {
  background-color: transparent;
}
.right-section {
  padding-top: 50px;
}
.right-section button {
  background-color: #337ab7;
    border-color: transparent;
    color: #fff;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}
.breadcrumb .cmp-breadcrumb__item {
  list-style-type: none;
   color: #337ab7;
  &:not(:last-child):after {
    content: "/";
    color: #000;
  }
  padding-right: 15px;
}
.breadcrumb .cmp-breadcrumb__item a {
  color: #337ab7;
  padding-right: 15px;
  
}
.breadcrumb  .cmp-breadcrumb__item--active {
  color: #000;
}
.cmp-breadcrumb__list {
  display: flex;
}
.cmp-title__text {
  text-align: center;
  font-size: 40px;
  color: #337ab7;
}
.cmp-form-text  {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.cmp-form-text label {
  margin: 0 10px 0 0;
}
.cmp-wrapper {
  border: 2px dashed #337ab7;
  padding: 20px;
}

.popover {
  position: fixed;
 z-index:  2
}
.list {
  text-align: left;
}
.right-section .transparent_btn {
  background-color: transparent;
  color: #0081c6;
  border: 1px solid #0081c6;
  margin-left: 15px;
}
.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 400px;
}
.select_base_theme {
  align-items: center;
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 4px 12px #0000001f;
    color: #596c7d;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    &:hover {
      background-color: #0081c6;
      color: #fff;
    }
}
.text-center {
 display: flex;
 align-items: center;
 justify-content: center;
}
.modal-header {
  justify-content: space-between;
}
.modal-header .close {
  background: transparent;
    border: none;
    font-size: 22px;
}
.teamLogo{
  width: 26%;
  margin: 0 auto;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); /* adjust as needed */
}
